@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7895b2;
  --secondary: #aebdca;
  --background: #f5efe6;
  --beige: #e8dfca;
  --bright: #88a4c2;
  --anchor: #5865cf;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  background-color: #f5efe6; /* 배경 색상 */
  height: 100%; /* 부모 요소의 높이를 100%로 설정 */
}

.sign-label {
  @apply w-14 h-full bg-beige rounded-l-md flex justify-center items-center;
}
.sign-input {
  @apply p-4 rounded-r-md w-full h-full bg-slate-50 hover:bg-white focus:bg-white focus:outline-none;
}
.sign-submit {
  @apply mt-5 w-full bg-primary p-4 text-white font-bold rounded-md disabled:bg-gray-400;
}
